/* default sass file */
/* line 16, ../../../scss/default.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 22, ../../../scss/default.scss */
body {
  background-color: white;
  font-size: 18px;
}
/* line 23, ../../../scss/default.scss */
body * {
  box-sizing: border-box;
}
/* line 27, ../../../scss/default.scss */
body > *:not(:nth-child(1)) {
  display: none;
}
/* line 31, ../../../scss/default.scss */
body h1, body h2, body h3, body h4, body h5 {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 36, ../../../scss/default.scss */
a {
  cursor: pointer;
}

/* line 39, ../../../scss/default.scss */
footer {
  background-color: #666;
  height: 60px;
}

/* line 43, ../../../scss/default.scss */
main {
  padding-top: 10px;
}

/* line 46, ../../../scss/default.scss */
menu {
  margin: auto;
}
/* line 48, ../../../scss/default.scss */
menu li {
  display: table-cell;
}
/* line 50, ../../../scss/default.scss */
menu li:not(:last-child) a {
  border-right: solid 1px #999;
}

/* line 55, ../../../scss/default.scss */
nav {
  box-shadow: 0 -10px 10px #eee inset;
  height: 40px;
  margin: auto -25px !important;
  padding: 0 10px;
  padding-bottom: 30px;
}

/* line 68, ../../../scss/default.scss */
#container {
  height: 100%;
}

/* line 71, ../../../scss/default.scss */
#footer, #main {
  margin: auto;
  width: 90%;
}

/* line 75, ../../../scss/default.scss */
#footer {
  background-color: #ddd;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 79, ../../../scss/default.scss */
#main {
  box-shadow: 0 0 4em #ccc;
  margin-bottom: -60px;
  min-height: 100%;
  padding: 10px 25px;
  padding-bottom: 60px;
}

/* line 87, ../../../scss/default.scss */
#nav a {
  padding: 0 10px;
}

/* line 91, ../../../scss/default.scss */
#nav, #logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
