body main p,
body main li{
    color:black;
    font:18px/1.5 Georgia, 'Times New Roman', serif;
}


.transparent{
    opacity: 0;
    pointer-events: none;
}
[class*="fixed"]{
    position: fixed;
}
[class*="fixed"].right{
    right: 0;
}
.fadeIn, .fadeOut{
    transition: all 0.3s ease;
}
.fadeIn{
    display: block;
    opacity: 1;
    pointer-events: all;
}
.fadeOut{
    opacity: 0;
}
.fixed-bottom{
    bottom:0;
}
.padding15{
    padding:15px;
}